html, body {
    margin: 0px;
    background-color: #202327;

    font-size: 20px;
    font-family: system-ui,-apple-system,"SF Pro Display","Segoe UI",sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
}

div {
    display: grid;
}

/* styling title, header and  footer of site */
#siteTitle {
    grid-template-columns: minmax(200px, auto);
    text-align: center;
    color: #fff;
    font-family: monospace;
    letter-spacing: 12px;
    margin-top: 0px;
}

.stuck {
    position: sticky; 
    z-index: 5;
    background-color: rgb(69, 68, 67);
    padding: 15px 10px 15px 10px;
    opacity: 0.95;
}

#nav {
    grid-template-columns: repeat(3, 1fr);
    top: 0;
    border-radius: 0% 0% 7px 7px;
}

#footer {
    grid-template-columns: 1fr;
    bottom: 0px;
    border-radius: 7px 7px 0% 0% ;
}

/* styling overall movie layout as well as each movie's poster, rating, and title */
#movies-grid, #searchResults-grid {
    padding: 10px;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.movie-card{
    grid-template-rows: 7fr 1fr;
    margin-bottom: 20px;
    grid-gap: px;
}

.movieInfo {
    grid-template-columns: 8fr 2fr;
    color: rgb(233, 230, 230);
    margin-top: 10px;
    margin-bottom: 20px;
}

.movie-title {
    justify-content: start;
    margin: 0px auto auto 2px;
}

.movie-votes {
    justify-content: end;
    margin: 0px 2px auto auto;
}

/* styling the overview display over each movie's poster*/
.imgWrapper {
    position:relative;
    overflow:hidden;
}

.imgWrapper > .movie-poster {
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
}

.imgWrapper > .overview {
    position: absolute;
    display: flex;
    inset: 0;
    align-items: center;
    line-height: 20px;
    border-radius: 5px;

    padding: 1rem;
    margin: 2rem 2rem 5rem 1rem;

    background: rgba(255, 255, 255, .6);
    color:rgb(26, 25, 25);
}

.imgWrapper > .movie-poster, .img-wrapper > .overview {
  transition: 150ms ease-in-out;
}

.imgWrapper:hover > .movie-poster.blur {
  filter: blur(4px);
}

.imgWrapper > .overview.fade {
  opacity: 0;
}

.imgWrapper:hover > .overview.fade {
  opacity: 1;
}

/* styling scroll button */
#scrollDiv {
    margin-right: 10px;
}

/* styling search form area*/
#search {
    display: inline-flex;
}

.searchForm {
    vertical-align: middle;
}

#search-input {
    width: 347px;
    height: 40px;
    border-radius: 2em 0 0 2em;
    text-align: center;
    font-size: 15px;
    border: 0px;
    border-right: 1px solid; 
}

/* styling scroll, search clear, trailer close, top movies, and search movies buttons*/
.button {
    width: 200px;
    height: 40px;
    font-size: 15px;
    border: 0px;
    border-radius: 2em;
}

#scrollButton {
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0px;
}

#clearButton {
    width: 100px;
    height: 40px;
    margin: 0px;
    border-radius: 0 2em 2em 0;
}

#trailerButton {
    background-color: rgb(207, 200, 200);
    margin: 15px;
    float: right;
}

#load-more-movies-btn, #searchButton {
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#load-more-movies-btn:hover, #clearButton:hover, #searchButton:hover, #scrollButton:hover, #trailerButton:hover{
    color: #fff;;
    background-color:#9d9999;
    border-color: #fff;
    border-width: 2px;
}

/* styling for movie trailer popup */
#trailerPopup { 
    display: block;
    background-color: rgba(255, 255, 255, 0.96);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
}

#trailer {
    place-items: center;
    height: 80%;
    width: 80%;
    margin: 18px;
}

